%div#contents
  %div#main
    %h2 about me
    %div#profile.area
      -#TODO: navbarに画像使ってリンクまとめる
      %h2.title Links
      %div.innerArea
        %dl
          %dt twitter
          %dd
            %a{href: "https://twitter.com/sinner_shiki"} @sinner_shiki
          %dt facebook
          %dd
            %a{href: "https://www.facebook.com/sinner.shiki"} Kosuke Sugano
          %dt github
          %dd
            %a{href: "https://github.com/sinnershiki"} sinnershiki
          %dt npm
          %dd
            %a{href: "https://www.npmjs.com/~sinner"} @sinner

      %h2.title Skills
      %div.innerArea
        %p
          Ruby, Ruby on Rails, Sinatra, coffee script
