%h1 Entries
%div#contents
  %div#entries.area
    - @entries.each do |entry|
      %h2.title=entry.title
      %div.innerArea
        %p
          =entry.summary
        %a.pull-right.btn.btn-info{href: entry.alternate_link, target: '_blank', role: 'button'}view more

    %div#bloglink
      %p
        %a{href: 'http://sinner-shiki.hatenablog.com/', target: '_blank'}view another entries
