%h1 This is sinner's info
%div#contents
  %div#profile.area
    %h2 About Me
    %div.innerArea
      %p Kosuke Sugano (@sinner_shiki)

      -#TODO: navbarに画像使ってリンクまとめる
    %h2 Links
    %div.innerArea
      %p
        twitter:
        %a{href: "https://twitter.com/sinner_shiki"} @sinner_shiki
      %p
        facebook:
        %a{href: "https://www.facebook.com/sinner.shiki"} Kosuke Sugano
      %p
        github:
        %a{href: "https://github.com/sinnershiki"} sinnershiki
      %p
        npm:
        %a{href: "https://www.npmjs.com/~sinner"} @sinner


    %h2 Skills
    %div.innerArea
      %p
        Ruby, Ruby on Rails, Sinatra, coffee script

  %div#news.area
    %h2 Activity
    %div.innerArea
      -#TODO: 学会とかインターンの他にもgitchrangeとか書けばいい気がする
      %dt
        2015/12
      %dd
        iiWAS2015にて発表
      %dt
        2015/11
      %dd
        %a{href: "http://sinner-shiki.hatenablog.com/entry/2015/11/16/214819", target: "_blank"} mixi様主催のGit Challengeに参加
      %dt
        2015/09
      %dd
        %a{href: "http://sinner-shiki.hatenablog.com/entry/2015/09/07/222958", target: "_blank"} リブセンス様のインターンシップに参加
      %dt
        2015/08
      %dd
        %a{href: "http://sinner-shiki.hatenablog.com/entry/2015/08/29/234357", target: "_blank"} feedforce様のインターンシップに参加
      %dt
        2015/06
      %dd
        ICIS2015参加
      %dt
        2015/05
      %dd
        インターンシップ逆求人フェスティバル参加
      %dt
        2015/03
      %dd
        情報処理学会全国大会にて発表
      %dt
        2015/02
      %dd
        任天堂様のインターンシップに参加
