%div#main_index
  %div#greet.indexArea
    %h2 Welcome
    %div.innerIndexArea
      ようこそ

  %div#news.indexArea
    %h2 Activity
    %div.innerIndexArea
      %dt
        年
      %dd
        学会とかインターンとか書く
