%h1 Works
%div#contents
  %div#npmPackages.area
    %h2 npm packages
    %div.innerArea
      %dt
        %a{href: "https://www.npmjs.com/package/japanese-public-holiday"} japanese-public-holiday
      %dd
        %p 簡易的な祝日判定モジュール
      %dt
        %a{href: "https://www.npmjs.com/package/hubot-ritsbus"} hubot-ritsbus
      %dd
        %p 立命館大学と南草津（草津）間のバス時刻通知bot

  %div#worksEtc.area
    %h2 etc...
    %div.innerArea
      %dt
        %a{href: "https://github.com/sinnershiki/dot_files"} dot_files
      %dd
        %p Emacs, tmux and zsh config
