#main {
  padding: 0px 15px;
  background-color: #FFF;
}

#contents {
  padding: 0px 15px;
}

.title {
  border-bottom: 2px solid black;
}

.innerArea {
  padding: 10px 10px;
  background-color: #EEE;
  margin-bottom: 30px;
}

dd {
  padding-left: 20px;
  margin-bottom: 10px;
}