body {
  background-color: #EEE;
  font-family: "Segoe UI", "Times New Roman", "メイリオ", "ヒラギノ角ゴ Pro", "ＭＳ Ｐゴシック", "sans-serif";
}

/* Header Title */
#headerTitle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}
#headerTitle p {
  margin: 30px 20px;
  color: white;
}

/* about nav bar  */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  box-shadow: 2px rgba(0,0,0,0.4);
}
.navbar li {
  float: left;
  border-right: 1px solid #bbb;
}
/*
.navbar li:last-child {
  border-right: none;
}
*/
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Change the link color to #444 on hover */
.navbar li a:hover {
  background-color: #444;
}

#main {
  padding: 20px 15px;
  background-color: #FFF;
}

#contents {
  padding: 1px 15px;
}

h1 {
  border-bottom: 2px solid black;
}

.area h2 {
  border-bottom: 2px solid black;
}

.innerArea {
  padding: 10px 10px;
  background-color: #EEE;
}

#news dt{
  width : 150px;
/* 左寄せ */
  float : left;
/* float解除 */
  clear : both;
}
#news dd{
/* dtの幅分の設定 */
  margin-left : 160px;
}
